body {
  font-size: 16px;
  margin: 0 auto;
  font-style: italic;
  background-image: url(./doski_chrnyy_ryad_tekstura_fon_derevo_55220_480x800.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:  white
}

input {
  cursor: pointer;
}

.content {
 margin-left: 30%;
 margin-right: 30%;
 
}

.header {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.question {
  font-weight: 600;
}


.block_question {
  margin-bottom: 20px;
}

.answer {
  margin-left: 5%;
}

.result {
  text-align: center;
  font-weight: 700;
}

.hidden {
  visibility: hidden;
}

.reset {
  margin-top: 10px;
}

.App {
  background-image: url(./doski_chrnyy_ryad_tekstura_fon_derevo_55220_480x800.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:  white
}

